/* App.css */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #333;
  margin-bottom: 20px; /* Add some spacing below the heading */
}

.create_form input {
  width: 300px;
  padding: 10px;
  border: none; /* Remove the border to create a cleaner look */
  border-bottom: 2px solid #333; /* Add a bottom border with a darker color */
  outline: none;
  margin-bottom: 20px; /* Add some spacing below the input */
}

.create_form button {
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.todo-list {
  margin-top: 20px;
  width:380px; /* Set the width to 100% to ensure it takes the full width available */
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121111;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.checkbox {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.todo-item {
  flex-grow: 1;
}

.icon-trash {
  cursor: pointer;
  color: #e74c3c;
}

/* Optional: Add a hover effect for the trash icon */
.icon-trash:hover {
  color: #c0392b;
}
.todo-item.done {
  text-decoration: line-through;
}
